<!-- display group name -->
<section class="home">
  <div class="user-container">
    <div class="user-info">
      <%= image_tag avatar_url(current_user), :class => "avatar" %>

      <div class="user-text">
        <p class="user-text__welcome">Welcome!</p>
        <p class="user-text__name"><%= current_user.name %></p>
      </div>
    </div>

    <!-- render modal -->
    <%= render 'modal' %> <%= render 'logout' %> <%= render 'groups' %>

    <!-- link to devise user edit -->
    <%= link_to edit_user_registration_path do %>
    <ion-icon name="settings" class="settings-button"></ion-icon>
    <% end %>
  </div>

  <div class="credit-card">
    <div class="credit-card__top">
      <div class="credit-card__top">
        <p class="credit-card__top__text">Total Expenses</p>
        <p class="credit-card__top__amount">$ <% if current_user.entities.present? %> <%= current_user.total_expenses.to_s.gsub(/\d(?=(\d{3})+\.)/, '\&,') %>.00 <% else %> 0.00 <% end %></p>
      </div>
    </div>
    <div class="credit-card__bottom">
      <div class="bottom-container">
        <ion-icon name="arrow-down-outline" class="income arrow"></ion-icon>
        <div class="info">
          <p class="bottom__text most">Most</p>
          <p class="bottom__amount">$ <% if current_user.entities.present? %> <%= current_user.entities.select { |entity| entity.amount == current_user.entities.max_by(&:amount).amount }.first.amount %>.00 <% else %> 0.00 <% end %></p>
        </div>
      </div>
      <div class="bottom-container">
        <ion-icon name="arrow-up-outline" class="expenses arrow"></ion-icon>
        <div class="info">
          <p class="bottom__text last">Last</p>
          <p class="bottom__amount"><% if current_user.entities.present? %> $ <%= current_user.entities.select { |entity| entity.amount == current_user.entities.min_by(&:amount).amount }.first.amount %><% else %> $ 0<% end %>.00</p>
        </div>
      </div>
    </div>
  </div>

  <div class="tranactions">
    <div class="title">
      <p class="title__text">Transactions</p>
      <p class="view-all" data-toggle="modal" data-target="#deleteGroup">View All</p>
    </div>
    <ul class="transactions-list">
      <% @groups.each do |group| %>

      <li class="item">
        <div class="transaction-name">
          <%= link_to group_entities_path(group) do %>
          <ion-icon name="<%= group.icon %>" class="transaction-img <%= group.icon %>"></ion-icon>
          <% end %>
          <p class="transaction-name__text"><%= link_to group.name.split(" ").map(&:capitalize).join(" "), group_entities_path(group) %></p>
              %></p>
        </div>
        <div class="transaction-amount">
          <p class="transaction-amount__text"><% if group.entities.present? %> -$<%= group.total_amount.to_s.gsub(/\d(?=(\d{3})+\.)/, '\&,') %>.00 <% else %> $ 0.00 <% end %></p>
          <p class="transaction-amount__date"><%= group.created_at.strftime("%a") %></p>
        </div>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="options">
    <ion-icon name="grid" class="menu-button" data-toggle="modal" data-target="#LogOut"></ion-icon>
    <%= link_to new_group_path do %>
    <ion-icon name="add-outline" class="add-button">Add</ion-icon>
    <% end %>
    <ion-icon name="alert-circle" class="show-button" data-toggle="modal" data-target="#exampleModal"></ion-icon>
  </div>
</section>
