<!-- display group name -->
<section class="home">
  <div class="user-container">
    <div class="user-info">
      <%= image_tag avatar_url(current_user), :class => "avatar" %>

      <div class="user-text">
        <p class="user-text__welcome">Welcome!</p>
        <p class="user-text__name"><%= current_user.name %></p>
      </div>
    </div>

    <!-- Button trigger modal -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime, consequuntur! Earum optio a officia officiis. Amet, officiis, eveniet ex magni necessitatibus fugit facilis vero delectus obcaecati ab eius libero! Nemo.</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- link to devise user edit -->
    <%= link_to edit_user_registration_path do %>
    <ion-icon name="settings" class="settings-button"></ion-icon>
    <% end %>
  </div>

  <div class="credit-card">
    <div class="credit-card__top">
      <div class="credit-card__top">
        <p class="credit-card__top__text">Total Expenses</p>
        <!-- last_updated_at_amount -->
        <p class="credit-card__top__amount">$ <%= current_user.total_expenses.to_s.gsub(/\d(?=(\d{3})+\.)/, '\&,') %>.00</p>
      </div>
    </div>
    <div class="credit-card__bottom">
      <div class="bottom-container">
        <ion-icon name="arrow-down-outline" class="income arrow"></ion-icon>
        <div class="info">
          <p class="bottom__text">Most</p>
          <p class="bottom__amount">$ <%= current_user.entities.select { |entity| entity.amount == current_user.entities.max_by(&:amount).amount }.first.amount %>.00</p>
        </div>
      </div>
      <div class="bottom-container">
        <ion-icon name="arrow-up-outline" class="expenses arrow"></ion-icon>
        <div class="info">
          <p class="bottom__text">Last</p>
          <p class="bottom__amount"><% if @groups.last.present? %> $ <%= @groups.last.total_amount %>.00 <% else %> $ 0.00 <% end %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="tranactions">
    <div class="title">
      <p class="title__text">Transactions</p>
      <p class="view-all">View All</p>
    </div>
    <ul class="transactions-list">
      <% @groups.each do |group| %>
      <li class="item">
        <div class="transaction-name">
          <ion-icon name="<%= group.icon %>" class="transaction-img <%= group.icon %>"></ion-icon>
          <p class="transaction-name__text"><%= link_to group.name, group_entities_path(group) %></p>
        </div>
        <div class="transaction-amount">
          <p class="transaction-amount__text">-$<%= group.total_amount %></p>
          <p class="transaction-amount__date"><%= group.created_at.strftime("%a") %></p>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="options">
    <ion-icon name="grid" class="menu-button"></ion-icon>
    <%= link_to new_group_path do %>
    <ion-icon name="add-outline" class="add-button"></ion-icon>
    <% end %>
    <ion-icon name="alert-circle" class="show-button" data-toggle="modal" data-target="#exampleModal"></ion-icon>
  </div>
</section>
